<h2>Add Face to Database</h2>

<form action="/add-face" method="post" enctype="multipart/form-data">
  <input name="name" placeholder="Person Name">
  <input type="file" name="image" required>
  <button type="submit">Save Face</button>
</form>

<h3>Add From Video</h3>
<form action="/add-video" method="POST" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Person name" required>
  <input type="file" name="video" accept="video/*" required>
  <button type="submit">Upload Video</button>
</form>



<br>
<a href="/search">Go to Search Page</a>
