<br>
<a href="/">Go to Add Page</a>
<h2>Find Person</h2>

<form id="form" enctype="multipart/form-data">
  <input type="file" name="image" required>
  <button type="submit">Search</button>
</form>

<h3>Delete Person</h3>
<input id="delName" placeholder="Enter person name">
<button onclick="deletePerson()">Delete</button>

<h3 id="result"></h3>
<div id="list"></div>

<script>
document.getElementById("form").onsubmit = async (e)=>{
  e.preventDefault();

  result.innerHTML = "Searching...";
  list.innerHTML = "";

  let r = await fetch("/find", {
    method:"POST",
    body: new FormData(e.target)
  });

  let res = await r.json();

  if(!res.match){
    result.innerText = "No strong match 😔";
    return;
  }

  result.innerHTML = "Top Matches 🎯";

  res.results.forEach(p=>{
  list.innerHTML += `
    <div style="margin:10px;padding:10px;border:1px solid gray">
      <img src="/${p.image}" width="120"><br>
      <a href="/person/${p.name}">
        <b>${p.name}</b>
       </a><br>

      Confidence: ${p.confidence}%<br>

      <button onclick="deleteFace('${p.image}')">
        Delete This Face
      </button>
    </div>
  `;
});

}

// <script>
async function deleteFace(path){
  let f = new FormData();
  f.append("image", path);

  let res = await fetch("/delete-face", {
    method:"POST",
    body:f
  });

  alert(await res.text());
  location.reload();
}

//  <script> 



    async function deletePerson(){
    let name = document.getElementById("delName").value;
    if(!name) return alert("Enter name");

    let f = new FormData();
    f.append("name", name);

    let res = await fetch("/delete-person", {
        method: "POST",
        body: f
    });

    alert(await res.text());
    location.reload();
    }
    
</script>

